// /**
//  * Copyright © 2015 Studioemma. All rights reserved.
//  * See ... for license details.
//  */

& when (@media-common = true) {

    /* pim debug boxes */
    body.pim-debug,
    body.content-debug {

        .pim-outline,.static-content {
            border: 1px blue dashed;
        }
    }

    /* CMS styling */

    /* figures and images */

    figure.right,
    img.right,
    img.align-right {
        float: right;
        margin: 0 0 1em 1.5em;
    }

    figure.left,
    img.left,
    img.align-left {
        float: left;
        margin: 0 1.5em 1em 0;
    }

    figcaption {
        font-size: .9em;
    }

    img.wide {
        width: 100%;
        height: auto;
        margin-bottom: 1.5em;
    }

    figure.wide {
        margin-bottom: 1.5em;
    }

    figure.wide img {
        width: 100%;
        height: auto;
    }

    hr {
      border: 0;
      border-top: 1px solid #d1d1d1;
      margin-bottom: 2em;
      margin-top: 2em;
    }

    hr.dotted{
        background: none;
        border-top: 1px dotted #d1d1d1;
    }

    hr.compact {
        width: 50%;
        margin: 2em auto 2em;
    }

    hr.extra {
        margin: 4em 0;
    }

    hr.fat {
        border-top-width: 2px;
    }

    /* Responsive youtube embed, More at: http://avexdesigns.com/responsive-youtube-embed/ */

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* video popup thumb  */

    .popup-video {

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &.has-thumbnail {
            display: block;
            position: relative;

            &:after {
                content: "\f144";
                font-family: "FontAwesome";
                line-height: 64px;
                font-size: 48px;
                display: block;
                position: absolute;
                width: 64px;
                height: 64px;
                color: #fff;
                top: 50%;
                margin-top: -32px;
                left: 50%;
                margin-left: -32px;
            }
        }
    }

    /* tables */

    table.cms {
        border: 1px solid #ccc;
        margin: 0 0 2em 0;
    }

    table.cms thead th,
    table.cms tbody td {
        padding: .3em .5em;
    }

    table.cms.half {
        max-width: 500px;
    }

    table.cms.center {
        margin-left:auto;
        margin-right:auto;
    }

    table.no-cycle tr:nth-child(even) td {
        background-color: transparent;
    }

    table.no-cycle tbody tr td {
        border: 1px solid #dcdcdc;
    }

    table.no-cycle th {
        border-bottom-color: #666;
    }

    /* side-blocks */

    .side-block {
        padding:  1em;
        border: 1px #676767 solid;
        border-radius: 2px;
        margin: 0 0 1em 0;
    }

    .side-block *:first-child {
        margin-top: 0;
    }

    .side-block *:last-child {
        margin-bottom: 0;
    }

    /* Visibility toggle */
    .hide-xs {
        display: none !important;
    }

@media screen and (max-width: 480px) {
    img.right,
    img.left {
        display: block;
        max-width: 100%;
        height: auto;
        float: none;
        margin: 0 0 1em 0;
    }

    figure.right,
    figure.left {
        float: none;
        width: 100%;
        margin: 0 0 1em 0;
    }

    figure.right img,
    figure.left img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

//
//    Desktop
//--------------------------------------

@media screen and (min-width: 480px) {
    /* Visibility toggle */
    .show-xs {
        display: none !important;
    }
    .hide-xs {
        display: block !important;
    }
    .hide-xs.inline {
        display: inline-block !important;
    }
}

@media screen and (min-width: 769px) {
    /* tables */
    table.cms{
        border: 0;
    }
    table.no-cycle tbody tr td{
        border-left: 0;
        border-right: 0;
    }

    /* side-blocks */
    .side-block {
        width: 240px;
    }

    .side-block {
        float: right;
        margin: 0 0 1em 1.5em;
    }

    .side-block.left {
        float: left;
        margin: 0 1.5em 1em 0;
    }
}

}

//
//  Responsive show / hide classes
//  ______________________________

& when (@media-common = true) {

    @media screen and (min-width: (@screen__xs + 1)) {

        .responsive-show-phone {
            display: none;
        }
    }

    @media screen and (min-width: (@screen__m)) {

        .responsive-show-smallscreen {
            display: none;
        }
    }

    @media screen and (max-width: (@screen__m - 2)) {

        .responsive-show-tablet {
            display: none;
        }
    }

    @media screen and (min-width: (@screen__l + 1)) {

        .responsive-show-tablet {
            display: none;
        }
    }

    @media screen and (min-width: (@screen__l + 1)) {

        .responsive-show-mobile {
            display: none;
        }
    }

    @media screen and (max-width: (@screen__l)) {

        .responsive-show-desktop {
            display: none;
        }
    }

    @media screen and (max-width: (@screen__xl)) {

        .responsive-show-widescreen {
            display: none;
        }
    }

    @media screen and (max-width: (@screen__xs)) {

        .responsive-hide-phone {
            display: none;
        }
    }

    @media screen and (max-width: (@screen__m - 1)) {

        .responsive-hide-smallscreen {
            display: none;
        }
    }

    @media screen and (min-width: (@screen__m - 1)) and (max-width: (@screen__l)) {

        .responsive-hide-tablet {
            display: none;
        }
    }

    @media screen and (max-width: (@screen__l)) {

        .responsive-hide-mobile {
            display: none;
        }
    }

    @media screen and (min-width: (@screen__l + 1)) {

        .responsive-hide-desktop {
            display: none;
        }
    }

    @media screen and (min-width: (@screen__xl + 1)) {

        .responsive-hide-widescreen {
            display: none;
        }
    }

    .responsive-hide-all {
        display: none;
    }

    // vertical

    @media screen and (min-height: (@screen__xs + 1)) {

        .responsive-vertical-show-small {
            display: none;
        }
    }

    @media screen and (min-height: (@screen__s + 1)) {

        .responsive-vertical-show-medium {
            display: none;
        }
    }

    @media screen and (min-height: (@screen__m)) {

        .responsive-vertical-show-large {
            display: none;
        }
    }

    @media screen and (min-height: (@screen__l + 1)) {

        .responsive-vertical-show-extra-large {
            display: none;
        }
    }

    @media screen and (max-height: (@screen__xs)) {

        .responsive-vertical-hide-small {
            display: none;
        }
    }

    @media screen and (max-height: (@screen__s)) {

        .responsive-vertical-hide-medium {
            display: none;
        }
    }

    @media screen and (max-height: (@screen__m - 1)) {

        .responsive-vertical-hide-large {
            display: none;
        }
    }

    @media screen and (max-height: (@screen__l)) {

        .responsive-vertical-hide-extra-large {
            display: none;
        }
    }
}
