// /**
//  * Copyright © 2015 Studioemma. All rights reserved.
//  * See ... for license details.
//  */

/* Replace breadcrumbs on mobile with previous category link */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.breadcrumbs {
    display: none;
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .breadcrumbs {
        display: block;
    }    
}