// CMS

@layout__max-width-outside: 2000px; // can be overridden in theme.less

& when (@media-common = true) {
    /* -------------------------------------------- *
     * Accordion
     */

    .accordion {
        h4, h3 {
            &:after {
                font-family: "FontAwesome";
                content: "\f105";
                padding-left: 10px;
            }

            &.toggled {
                &:after {
                    content: "\f107";
                }
            }
        }

        > div {
            margin-top: 10px;
            padding-bottom: 20px;
            display: none;

            &.toggled {
                display: block;
            }
        }
    }

    /* -------------------------------------------- *
     * More/less toggle system
     */

    .moreText {
        display: none;

        &.toggled {
            display: block !important;
        }
    }

    .showMoreText {
        &:after {
            content: "+";
            padding-left: 10px;
        }
    }

    .showLessText {
        &:after {
            content: "-";
            padding-left: 10px;
        }
    }

    /* -------------------------------------------- *
     * System wide nav dropdown
     */

    .collapsible {
        .title {
            border: 1px solid #d1d1d1;
            padding: 10px 44px 10px 15px;
            position: relative;
            cursor: pointer;

            &:after {
                font-family: "FontAwesome";
                content: "\f107";
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -14px;
            }

            &.toggled {
                &:after {
                    content: "\f106";
                }
            }
        }

        .content {
            display: none;

            li {
                position: relative;
                top: -1px;

                a {
                    padding: 10px 15px;
                    border: 1px solid #d1d1d1;
                    border-top: none;
                    display: block;
                }

                &:first-child {
                    border-top: 1px solid #d1d1d1;
                }
            }

            &.toggled {
                display: block;
            }
        }
    }

    //
    //  remove wrapping of main content
    //  _______________________________

    /* Page-wide-content is deprecated, only for older projects */
    body.page-layout-1column-wide,
    body.page-wide-content {

        .page-main {
            max-width: none;
            padding-left: 0;
            padding-right: 0;

            .page.messages {
                max-width: @layout__max-width;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    //Set max widths for content & banner that exceed the site a little, but not to the max
    .content-wrapper-wide {
        max-width: @layout__max-width-outside;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    //Set max widths for content & banner that do not exceed the site
    .content-wrapper {
        max-width: @layout__max-width;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
     .collapsible {
        .title {
            display: none;
        }

        .content {
            display: block;
        }
    }

    .content-wrapper {
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
    }

    body.page-wide-content {

        .page-main {

            .page.messages {
                padding-left: @layout-indent__width;
                padding-right: @layout-indent__width;
            }
        }
    }
}
