.show-products {
    color: @primary__color;
    
    &:hover {
        text-decoration: none;
    }
    
    .icon-font(
        @icon-down,
        @_icon-font-position: after,
        @_icon-font-color: @primary__color,
        @_icon-font-size: 34px,
        @_icon-font-text-hide: true
    );
}

.cart-container .form-cart #empty_cart_button {
    display: none;
}